@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  h1 {
    @apply font-extrabold my-4 text-lg leading-none tracking-tight text-gray-700 md:text-xl lg:text-2xl dark:text-white;
  }
  h2 {
    @apply my-3 text-base font-bold leading-none tracking-tight text-gray-800 md:text-lg lg:text-xl dark:text-white;
  }

  .dynamic-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .small-dynamic-grid {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(80px, 100px));
  }

  .responsive-container {
    padding-left: 1rem;
    padding-right: 1rem;

    /* Responsive padding */
    @media (min-width: 640px) {
      /* sm */
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media (min-width: 768px) {
      /* md */
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @media (min-width: 1024px) {
      /* lg */
      padding-left: 6rem;
      padding-right: 6rem;
    }

    @media (min-width: 1280px) {
      /* xl */
      padding-left: 8rem;
      padding-right: 8rem;
    }
  }

  /* For WebKit browsers */
  .team-list::-webkit-scrollbar {
    width: 0; /* Hide scrollbar by default */
    background: transparent; /* Optional: Just to ensure scrollbar is fully transparent */
  }

  .team-list:hover::-webkit-scrollbar {
    width: 8px; /* Show scrollbar on hover */
  }

  .team-list::-webkit-scrollbar-track {
    background: transparent; /* Track background */
  }

  .team-list:hover::-webkit-scrollbar-track {
    background: #2a2a2a; /* Track background on hover */
  }

  .team-list::-webkit-scrollbar-thumb {
    background: transparent; /* Scrollbar color */
  }

  .team-list:hover::-webkit-scrollbar-thumb {
    background: #4a4a4a; /* Scrollbar color on hover */
    border-radius: 4px; /* Rounded corners for scrollbar */
  }

  .team-list:hover::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a; /* Scrollbar color when hovering over the scrollbar itself */
  }

  /* For Firefox */
  .team-list {
    scrollbar-width: none; /* Hide scrollbar by default */
  }

  .team-list:hover {
    scrollbar-width: thin; /* 'auto' or 'thin' */
    scrollbar-color: #4a4a4a #2a2a2a; /* Thumb and track color on hover */
  }
}
